<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identificar Números Pares e Impares</title>
    <link rel="stylesheet" href="../Models/styles_octavo.css">
</head>

<body>
    <h2>Identificar Números Pares e Impares</h2>
    <label for="numberList">Ingrese una lista de números separados por coma:</label>
    <input type="text" id="numberList" placeholder="Ejemplo: 20, 10, 2, 11, 3">

    <button onclick="identificarNumeros()">Identificar</button>
    <script src="../controllers/octavo.js"></script>
    <div id="result"></div>
</body>
</html>