<!DOCTYPE html>
<html>
<head>
    <title>Buscar Texto</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Models/styles_sext.css">
</head>
<body>
    <h1>Buscar Texto en un Párrafo</h1>
    <label for="inputText">Texto a buscar:</label>
    <input type="text" id="searchText">
    <br>
    <label for="paragraph">Párrafo:</label>
    <textarea id="paragraph" rows="4" cols="50"></textarea>
    <br>
    <button onclick="buscarTexto()">Buscar</button>
    <br>
    <div id="result"></div>
    <script src="../controllers/sext.js"></script>
</body>
</html>
